#id-search-field{
	text-align: center;
}
#id-search-field input{
	width: 80%;
}

#id-main-search-list li.media {
    border-bottom: 1px solid #DDDDDD;
    margin: 0;
    padding: 10px;
}
#id-main-search-list li.media:nth-child(2n+1){
    background-color: #F9F9F9;
}
#id-main-search-list li.media:hover{
	background-color: #f5f5f5;
}

.media-image{
	width: 32px;
	height: 32px;
	margin: 0 10px;
}

.media-image img{
	height: 32px;
	margin: 0 auto;
}

.media-link{
	display: block;
}
.media-link:hover{
	text-decoration: none;
}